@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

$MD: 620px;
$LG: 1200px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 4px; 
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fff4;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-dark: #0b0d17;
  --color-white: #fff;
  --color-light: #d0d6f9;
  --color-hr: #383b4b;

  --ff-serif: 'Bellefair', serif;
  --ff-sans: 'Barlow Condensed', sans-serif;
  --ff-main: 'Barlow', sans-serif;

  min-height: 100vh;

  background-color: var(--bg-dark);
  background-image: url('assets/home/background-home-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  @media screen and (min-width: $MD) {
    background-image: url('assets/home/background-home-tablet.jpg');
    background-position: center;
  }

  @media screen and (min-width: $LG) {
    background-image: url('assets/home/background-home-desktop-figma.jpg');
  }
}

.destination {
  background-image: url('assets/destination/background-destination-mobile.jpg');
  background-position: center top;

  @media screen and (min-width: $MD) {
    background-image: url('assets/destination/background-destination-tablet.jpg');
  }
  
  @media screen and (min-width: $LG) {
    background-image: url('assets/destination/background-destination-desktop.jpg');
  }
}

.crew {
  background-image: url('assets/crew/background-crew-mobile-figma.jpg');
  background-position: center top;

  @media screen and (min-width: $MD) {
    background-image: url('assets/crew/background-crew-tablet-figma.jpg');
  }
  
  @media screen and (min-width: $LG) {
    background-image: url('assets/crew/background-crew-desktop-figma.jpg');
  }
}

.technology {
  background-image: url('assets/technology/background-technology-mobile.jpg');
  background-position: center top;

  @media screen and (min-width: $MD) {
    background-image: url('assets/technology/background-technology-tablet.jpg');
  }
  
  @media screen and (min-width: $LG) {
    background-image: url('assets/technology/background-technology-desktop.jpg');
  }
}

body>#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100rem;
  margin: 0 auto;
}

.mantine-Drawer-drawer {
  background: #0b0d17;
}

@supports (backdrop-filter: blur()) {
  .mantine-Drawer-drawer {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40px);
  }
}